* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Seagram', cursive;
    font-size: 3vh;
  }
  

body {
  height: 100vh;
  width: 100%; 
  background: black;
  background-image: url("./images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.logo-menu-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 40vh;
  width: 45vw;
  background-image: url("./images/logo4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vh;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.entrar-id {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#createRoomBtn {
  margin: 5vh;
}

#roomIdInput {
  padding: 1.5vh;
  margin: 1.5vh;
  width: 18vw;
  border: 3px solid #704214;
  background: #f4e1c6;
  color: #3d2b1f;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  height: 8vh;
  width: 15vw;
  padding: 0.5vh 0.7vw;
  margin-left: 0.3vw;
  border: 2px solid #d09c19; 
  background: linear-gradient(145deg, #5d4037, #3e2723); 
  color: #f4e1c6;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(145deg, #5d4037, #3e2723);
  border-color: #ffd700; 
  color: #ffd700;
  transform: scale(1.08);
}

button:active {
  transform: scale(0.95);
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.4);
}

:root {
  --hex-width: 100px;
  --hex-height: 110px; 
  --radius: calc(var(--hex-width) / 1.95); /* raio circunscrito (setado na mao) */
  --shift: calc(var(--radius) / 2); /* metade do raio ate o vertice da direita */
  --shift-y: calc(var(--hex-height) * 0.77); /* 77% da altura do hexagono*/

}

#hexContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%; 
  height: 100vh; 
  overflow: auto; 
}

.hex-row {
  display: flex;
  height: var(--shift-y);
}

.hex-row:nth-child(odd) {
  transform: translateX(calc(var(--shift) * -1)); 
}

.hex-row:nth-child(even) {
  transform: translateX(var(--shift)); 
}

.hexagon {
  position: relative;
  background: #111; 
  width: var(--hex-width);
  height: var(--hex-height);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  transition: background-color 0.3s ease; 
}

.hexagon:hover {
  background-color: #ffcc00; 
  cursor: pointer;
}

.hexagon.selected {
  background-color: #ef076b; 
}
  
#textureMenu button {
  display: block;
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}

#textureMenu button:hover {
  background-color: #f0f0f0;
}

.knight-image {
  position: absolute;
  width: 40px; 
  height: auto;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#gameInfo {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#textureMenu {
  position: fixed;
  bottom: 1vh;
  margin-bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: transparent;
  z-index: 1000;
}

.texture-option:hover {
  transform: scale(1.1);
}

.hexagon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.texture-option {
  position: relative;
  width: 90px;
  height: 90px;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-count {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 6px;
  border-radius: 5px;
  pointer-events: none; /* Para não interferir no clique */
}